
<div ng-controller="AboutController as app" class="panel-body">
                <div class="form-horizontal">
                    <p>UserId: <input type="text" name="userId" ng-model="userId" /></p>
                    <button ng-click="SendData()">Search</button>
                    <hr>
                    <p>ID: {{id}}</p>
                    <p>User Name: {{username}}</p>
                    <p>Name: {{name}}</p>
                    <p>Position: {{position}}</p>
                </div>
            </div>
